<div class="container">
  <div class="user-container">
    <div class="user">
      <img
        src="../assets/image-jeremy.png"
        alt="user-profile-pic"
        class="profile-pic"
      />
      <div class="user-content">
        <div class="report-container hue-color">
          <span class="report">Report for</span>
        </div>
        <div class="name-container white-color">
          <span class="name">Jeremy Robson</span>
        </div>
      </div>
    </div>
    <div class="setTimeRange">
      <div class="unselectedDay hue-color range">Daily</div>
      <div class="selectedDay white-color range">Weekly</div>
      <div class="unselectedDay hue-color range">Monthly</div>
    </div>
  </div>
  <div class="time-schedule-container">
    <div class="row">
      <div class="work-container">
        <div class="work-img-container">
          <img src="../assets/icon-work.svg" alt="work" class="Img" />
        </div>
        <div class="content-container">
          <div class="content-heading">
            <span class="white-color title">Work</span>
            <img
              src="../assets/icon-ellipsis.svg"
              alt="ellipsis"
              class="ellipsis"
            />
          </div>
          <div class="total-timespan">
            <div class="timespan-container">
              <span class="timespan white-color"> 32hrs </span>
            </div>
            <div class="last-container">
              <span class="last hue-color"> Last Week - 36hrs </span>
            </div>
          </div>
        </div>
      </div>
      <div class="work-container">
        <div class="play-img-container">
          <img src="../assets/icon-play.svg" alt="play" class="Img" />
        </div>
        <div class="content-container">
          <div class="content-heading">
            <span class="white-color title">Play</span>
            <img
              src="../assets/icon-ellipsis.svg"
              alt="ellipsis"
              class="ellipsis"
            />
          </div>
          <div class="total-timespan">
            <div class="timespan-container">
              <span class="timespan white-color"> 10hrs </span>
            </div>
            <div class="last-container">
              <span class="last hue-color"> Last Week - 8hrs </span>
            </div>
          </div>
        </div>
      </div>
      <div class="work-container">
        <div class="study-img-container">
          <img src="../assets/icon-study.svg" alt="study" class="Img" />
        </div>
        <div class="content-container">
          <div class="content-heading">
            <span class="white-color title">Study</span>
            <img
              src="../assets/icon-ellipsis.svg"
              alt="ellipsis"
              class="ellipsis"
            />
          </div>
          <div class="total-timespan">
            <div class="timespan-container">
              <span class="timespan white-color"> 4hrs </span>
            </div>
            <div class="last-container">
              <span class="last hue-color"> Last Week - 7hrs </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="work-container auto-margin-top">
        <div class="exercise-img-container">
          <img src="../assets/icon-exercise.svg" alt="Exercise" class="Img" />
        </div>
        <div class="content-container">
          <div class="content-heading">
            <span class="white-color title">Exercise</span>
            <img
              src="../assets/icon-ellipsis.svg"
              alt="ellipsis"
              class="ellipsis"
            />
          </div>
          <div class="total-timespan">
            <div class="timespan-container">
              <span class="timespan white-color"> 4hrs </span>
            </div>
            <div class="last-container">
              <span class="last hue-color"> Last Week - 5hrs </span>
            </div>
          </div>
        </div>
      </div>
      <div class="work-container auto-margin-top">
        <div class="social-img-container">
          <img src="../assets/icon-social.svg" alt="Social" class="Img" />
        </div>
        <div class="content-container">
          <div class="content-heading">
            <span class="white-color title">Social</span>
            <img
              src="../assets/icon-ellipsis.svg"
              alt="ellipsis"
              class="ellipsis"
            />
          </div>
          <div class="total-timespan">
            <div class="timespan-container">
              <span class="timespan white-color"> 5hrs </span>
            </div>
            <div class="last-container">
              <span class="last hue-color"> Last Week - 10hrs </span>
            </div>
          </div>
        </div>
      </div>
      <div class="work-container auto-margin-top">
        <div class="selfcare-img-container">
          <img src="../assets/icon-self-care.svg" alt="self-care" class="Img" />
        </div>
        <div class="content-container">
          <div class="content-heading">
            <span class="white-color title">Self Care</span>
            <img
              src="../assets/icon-ellipsis.svg"
              alt="ellipsis"
              class="ellipsis"
            />
          </div>
          <div class="total-timespan">
            <div class="timespan-container">
              <span class="timespan white-color"> 2hrs </span>
            </div>
            <div class="last-container">
              <span class="last hue-color"> Last Week - 2hrs </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
