@font-face {
  font-family: "Rubik";
  src: url("../src/fonts/Rubik-VariableFont_wght.ttf"),
    url("../src/fonts/Rubik-Italic-VariableFont_wght.ttf");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik";
  background-color: hsl(226, 43%, 10%);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}
.hue-color {
  color: hsl(236, 100%, 87%);
}

.white-color {
  color: white;
}
